{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block css %}
<style>
        .container {
            min-height: 150vh;
        }
        body {
          font-family: 'Varela Round', sans-serif;
          padding: 0;
          margin: 0;
    }
    p {
          font-size: 15px;
          font-family: 'Varela Round', sans-serif;
    }
    h2 {
          /*font-size: 15px;*/
          font-family: 'Varela Round', sans-serif;
    }
    /*nav{
          width: 100%;
          margin: 0 auto;
          background: #000;
          padding: 30px 0;
          box-shadow: 0px 5px 0px #dedede;
    }*/
    a.navbar-brand {
          font-family: 'Ubuntu', sans-serif;
    }
    nav li {
          font-size: 15px;
    }

    nav ul {
          list-style: none;
          text-align: center;
    }
    a.nav-link
    {
          position: relative;
    }
    a.nav-link:hover {
          color: #fff;
    }
    a.nav-link:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #FFF;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out;
    }
    a.nav-link:hover:before {
          visibility: visible;
          transform: scaleX(1);
    }
    .dev-tag {
          font-family: 'Varela Round', sans-serif;
    }
    .title {
          position: absolute;
          color: #fff;
          /*margin-left: 160px;
          padding: 78px;*/
          font-style: bold;
          font-weight: 100;
          font-family: 'Varela Round', sans-serif;
    }
    .poster {
      width:30px;
      height:auto;
    }
    .card {
        border: none;
    }
    .tag {
            font-size: 15px;
            text-decoration: none !important;
       }
    .title-tit {
            font-family: 'Ubuntu', sans-serif;
            font-weight:700;
            text-decoration: none !important;
    }
    .card-text {
      font-family: 'Noto Serif', serif;
    }
    .form-control{
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 0px solid black;
    }
    .form-control:focus {
        border-color: #fff0;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0) inset, 0px 0px 8px rgba(255, 255, 255, 255);
    }
</style>
{% endblock css %}
{% block body %}
<div class="container">
<br>
<h1 class=" my-3"style="font-weight:bold; font-size:50px;">Logs</h1>
<form method="get" action="/search" class="form-inline my-2 my-lg-0">
  <div class="form-group">
    <input type="search" class="form-control" id="search" name="query" aria-label="Search" placeholder="Search something">
  </div>&nbsp;&nbsp;&nbsp;
   <button type="submit" style="color:#000;font-size:20px;margin-left:-28px;margin-top:-14px;" class="btn btn-link">
     <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg>
   </button>
</form>
<hr><br>
        {% for blog in blogs %}
        <div class="shadow card mb-3" style="max-width: 950px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/media/{{blog.poster}}" class="card-img" onerror=this.src="https://i.imgur.com/fOWuolO.png">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <!--a class="tag" href="/{{blog.tag}}">{{blog.tag}}</a><p></p-->
                <h4 class="card-title text-dark"><a class="title-tit text-dark" href="/blogpost/{{blog.slug}}">{{blog.title}}</a></h4>
                <p class="card-text">{{blog.short_desc|slice:180}}</p>
                <p class="card-text"><small class="text-muted">Author : {{blog.user.get_full_name}} &nbsp;&nbsp; | &nbsp;&nbsp;</span>{{blog.created}}&nbsp;&nbsp;&bull;&nbsp;&nbsp;{{blog.read_time}}</small></p>
              </div>
            </div>
          </div>
        </div>

        <!--div class="row" >
              <div class="column">
                  <img class="poster" src="http://127.0.0.1:8000/media/{{blog.poster}}" class="mr-3" alt="...">
              </div>
              <div class="column">
                  <h3 class="text-dark"><a class="text-dark" style="font-weight:700; text-decoration: none !important;" href="/blogpost/{{blog.slug}}">{{blog.title}}</a></h3>
                  <div class="my-2">
                      {{blog.short_desc}}
                 </div>
                   <a class="btn btn-outline-primary" style="text-decoration: none !important;" href="/blogpost/{{blog.slug}}">Read More</a>
             </div>
        </div-->
        <br><br>
        {% endfor %}
          <br><hr><br>
          <div class="my-3">

          {% if prev %}
            <a class="btn btn-primary" href="/blog?page={{prev}}">&laquo; Previous</a>
          {% else %}
            <a class="btn btn-primary  disabled"  href="#">&laquo; Previous</a>
          {% endif %}

          {% if nxt %}
            <a class="btn btn-primary float-right" href="/blog?page={{nxt}}">Next &raquo;</a>
          {% else %}
            <a class="btn btn-primary  disabled float-right" href="#">Next &raquo;</a>
          {% endif %}
      </div>
          <br><br>
      </div>
{% endblock body %}